* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto 2rem auto;
  /* Remove top margin, keep bottom margin for spacing below */
  background-color: white;
  color: #3952bc;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: #312e81;
  /*Tailwind’s richest indigo.*/
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f6fa; /* light neutral background */
  color: #030712;
}

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-nav a {
  color: #1e2936;
  text-decoration: none;
  font-weight: 600;
}

.line {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}

main {
  min-height: 100vh;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  background-color: white;
  box-shadow: 0px 0px 20px #00000020;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #030712;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  background-color: #4f46e5;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.border-button {
  background-color: white;
  color: #333;
  cursor: pointer;
}

.border-button:hover {
  background-color: #4f46e5;
  color: white;
}

.site-footer {
  background-color: #312e81;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
  gap: 2rem;
  margin-bottom: 1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin: 2rem 0 1rem 0;
  /* center icons */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-social a {
  color: #fff;
  font-size: 1.25rem;
}

.footer-social a:hover {
  color: #d4dcf9;
}

.footer-copy {
  font-size: 0.9rem;
  opacity: 0.85;
  margin-top: 1rem;
}

.main-nav {
  display: flex;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
